<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login Here</h1>
    <fieldset>
        <legend>register</legend>
        <form action="" method="">
            <div>
                <label for="id_username">Username</label>
                <input type="text" name="Username" id="id_username" placeholder="username">
            </div>
            <div>
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password" placeholder="password">
            </div>
            <div>
                <button type="submit">Login</button> <strong>NewUser?</strong> <a href="#">Registernow</a>
            </div>
        </form>
    </fieldset>
</body>
</html>